<div class="container">
  <div class="navbar navbar-light mb-3" style="background-color: #e3f2fd;">
    <span>TestGuru Admin Panel</span>

    <div>
      Welcome, <b><%= current_user.name %></b> Guru |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </div>
<div>