<h1>The <%= @test_passage.test.title %> Test was Completed.</h1>

<b>Correct replies: 

<% if @test_passage.test_passed? %>
  <ins id="success"><%= @test_passage.correct_replies_percent %>%</ins><br>
  <b>Test was completed successfully.</b>
<% else %>
  <ins id="failed"><%= @test_passage.correct_replies_percent %>%</ins><br>
  <b>Test failed.</b>
<% end %></b>
<br>
<%= link_to 'Tests', tests_path %>