<p><%= current_year %>, author: Vladislav Ryklin, 
<%= link_to 'Project Testguru', github_url('Kolumb555', 'github.com'), target: 'blank'%></p>
<p>A project aiming to create a platform for making and passing tests. <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
thinknetica_path, target: 'blank'%></p>
