<h2>Hello!</h2>

<p> You've got a new feedback from the user <%= @feedback.user.name %>, email <%= @feedback.user.email %></p>

<p> Subject: <%= @feedback.subject %></p>

<p> Comment: <%= @feedback.comment %></p>

